<html>
<head>
	<title>Registration form</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--<script src="index.js" type="text/javascript" charset="utf-8" async defer></script>-->
<!--angularjs-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<!-- ngmessage-->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
<!--firebase-->
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

</head>
<body >
	<div class="container" ng-app="registration" ng-controller="submit">
		

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

    	<!--form-->
		<form role="form" name="myForm" id="myForm" >

			<h1>CIPS Git Work Shop</h1>
			<h2>Please Submit<small>  All fields are mandatory</small></h2>
			<hr class="colorgraph">
			<div class="row">
				<!-- first name -->
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group" >

                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" ng-model="firstName" ng-minlength="3" ng-pattern="[a-zA-Z] required>

                        <p ng-show="myForm.first_name.$error.minlength" class="help-block">First Name is too short.</p>
                        
                    </div>
				</div>
			<!-- lastname -->
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group" >

						<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" ng-model="lastName" ng-minlength="3" required>

						<p ng-show="myForm.last_name.$error.minlength" class="help-block">Last Name is too short.</p>

					</div>
				</div>
			</div>
			<!-- student Id -->
			<div class="form-group">
				<input type="text" name="student_ID" id="student_ID" class="form-control input-lg" placeholder="Student ID" tabindex="3" ng-model="studentID"  ng-minlength="9" ng-maxlength="9" ng-pattern="/^(0|[1-9][0-9]*)$/" required>

				<p ng-show="myForm.student_ID.$error.minlength" class="help-block">StudentID is wrong.</p>
			
				<p ng-show="myForm.student_ID.$error.maxlength" class="help-block">StudentID is wrong.</p>
			</div>

		<!-- 	email -->
			<div class="form-group"  ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" ng-model="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  required>

				<p ng-show="myForm.email.$invalid && !myForm.email.$pristine" class="help-block">Enter a valid email.</p>
				
			</div>

			
				<!-- program name -->
					<div class="form-group">
						<input type="text" name="programName" id="programName" class="form-control input-lg" placeholder="Program Name" tabindex="5" ng-model="programName"  required>
					</div>

			<hr class="colorgraph">
			<!-- submit button -->
			<div class="row">
				<div class="col-md-4 text-center " >
					<input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg" 
					 ng-click="submitStudent()"  ng-disabled="myForm.$invalid">
				</div>
				
			</div>
		</form>
	</div>
	</div>
	<div>firstName:{{firstName}}</div>
	<div>lastName:{{lastName}}</div>
	<h3>Current Id</h3>
<div class="register"></div> 

</div>

<script >
var myApp= angular.module('registration',[]);
myApp.controller('submit', function($scope){
	$scope.firstName="";
	$scope.lastName="";
	$scope.studentID="";
	$scope.email="";
	$scope.programName="";
	$scope.myData= new Firebase("https://amber-heat-1015.firebaseio.com/Students");
	$scope.submitStudent=function(){
		$scope.myData.push({Firstname: $scope.firstName,
			Lastname: $scope.lastName,
			StudentID: $scope.studentID,
			EmailAddress: $scope.email,
		    ProgramName: $scope.programName}
		)
		$scope.firstName="";
	$scope.lastName="";
	$scope.studentID="";
	$scope.email="";
	$scope.programName="";
	};
	
});
</script>
<!-- javascript for validation -->

// <script  type="text/javascript">
// $(document).ready(function() {
//     $('#myForm').bootstrapValidator();
// });
// </script>


</body>


</html>